h1 {
    font-size: 72px;
}

h2 {
    color: purple;
}

h4 {
    color: maroon
}

h2#menu {
    font-weight: bold;
    font-size: 14px;
    color: purple;
}

h2.heading {
    color: red
}
a {
    color: rgb(29, 47, 202);
}

h2#job {
    color: blue;
}

/* .navlink {
    color: red;
} */